@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');
body {
    background-color: #2A2D40;
    overflow-y: hidden;
}

#title {
    text-align: center;
    padding: 0.4em;
    padding-bottom: 0.5em;
    font-family: 'Permanent Marker', cursive;
    font-size: 70px;
    color: #ffffff;
}

#time {
    color: white;
    text-align: center;
    font-size: 3em;
    font-family: 'Play', sans-serif;
    font-weight: bold;
}

#text {
    padding: 30px;
    font-size: 40px;
    font-family: 'Jua', sans-serif;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 2px;
}

#text .not-done {
    color: white;
}

#text .done {
    color: rgb(14, 15, 22);
}

.button {
    color: white;
    margin: 1em;
    background-color: #2A2D40;
    border: 2.5px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
}

.btn-pos {
    width: 20%;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.btn-pos .menu:hover,
.btn-pos .restart:hover {
    background-color: white;
    color: #2A2D40;
}

#level {
    margin-top: 20px;
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: 'Play', sans-serif;
    font-weight: bold;
}